.categories {
    .header-categories {
        padding: 15px;
        margin: 10px, 10px, 10px;
        height: 50px;
        // background: #376369;
        background-color: #fff;
        text-align: center;
        box-shadow: -2px 2px 2px 2px #52637e;
        // border: 1px solid #52637e;

        h1 {
            font-size: 20px;
            font-family: Roboto, sans-serif;
            text-transform: uppercase;
            color: #222222;
            
        }
    }

    .categorie-navbar {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: #376369;
        background-color: #ffff;
        select{
            width: 200px;
            height: 40px;
            border-radius: 10px;
            border: none;
            padding: 5px;
            outline: none;
            background-color: #2d1a35;
            color: #dfdfdf;
        }

        .link-create-categorie{
          background-color: #2d1a35;
          padding: 10px;
          border-radius: 10px;
          a{
            text-decoration: none;
            font-family: roboto;
            font-size: 14px;
            color: #ffff;
          }
        }

        .btn-cate {
            width: 200px;
            height: 40px;
            font-family: 'Roboto';
            border: none;
            margin: 2px;
            font-size: 14px;
            text-align: center;
            background: #6f88af;
            color: #fff;

            &:hover {
                background: #4f89e6;
            }
        }
    }

    .categorie-container {
        background: #fff;
        border-radius: 10px;
        padding: 15px;
        margin: 10px;
        border: 1px solid #dfdfdf;

        h1 {
            text-align: center;
            color: #52637e6b;
            font-family: Roboto;
            margin: 15px;
        }
        .stock-fini{
            color:red;
            font-size: 12px;
                font-family: roboto;
        }
        
        .action{
            display: flex;
            span{
                font-size: 12px;
                font-family: roboto;
                color: green;
            }
            .icon-add{
                color:#1aad9a;
                font-size:24px;
                margin: 10px;
                cursor: pointer;
            }

            .icon-edit{
                color:rgb(102, 102, 211);
                font-size: 24px;
                margin: 10px;
                cursor: pointer;
            }

            .icon-del{
                color:rgb(245, 86, 86);
                font-size: 24px;
                margin: 10px;
                cursor: pointer;
            }
        
        }
    }
}

@media (max-width:1122px) {
    .categories{
        .header-categories{
           h1{
            font-size: 0.7rem;
           } 
        }
        .categorie-navbar{
          flex-direction: column;
          align-items: center;
          gap: 5px;
        }
.categorie-container{
    h1{
        font-size: 0.7rem;

    }
    p{
        font-size: 0.7rem;
    }
    .stock-fini{
        color:red;
        font-size: 12px;
            font-family: roboto;
    }
    
    .action{
        span{
            font-size: 12px;
        }
        .icon-add{
            font-size:0.8rem;
        }

        .icon-edit{
            font-size: 0.8rem;
        }

        .icon-del{
            font-size: 0.8rem;
        }
    
    }
}

    }
}