.create-categorie {
    .header {
        padding: 15px;
        margin: 10px, 10px, 10px;
        height: 50px;
        background: #376369;
        text-align: center;
        box-shadow: -2px 2px 2px 2px #52637e;
        border: 1px solid #52637e;

        h1 {
            font-size: 20px;
            font-family: Roboto, sans-serif;
            text-transform: uppercase;
            color: #fff;
        }
    }

    .create-container{
        background: #fff;
        border-radius: 10px;
        box-shadow: -2px -2px 2px 2px #e2e2e2;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 15px;
        margin: 10px;
        border:1px solid #dfdfdf;
    
        .form{
            display: flex;
            flex-direction: column;
            margin: 10px;
            label{
                font-size: 16px;
                font-family: roboto;
                font-weight: 400;
                margin: 5px;
            }
    
            select{
                width: 320px;
                padding: 10px;
                border: 1px solid #0a5a68;
                outline: none;
                border-radius: 10px;
            }
    
            input{
                border: none;
                width: 300px;
                height: 20px;
                padding: 10px;
                background: #f0f1f5;
                font-family: roboto;
                outline: none;
            }
        }
        .btn-save{
            margin: 10px;
            width: 100px;
            align-self: flex-end;
            background-color: #0a5a68;
            border: none;
            color: #f0f1f5;
            font-family: roboto;
            height: 40px;
            cursor: pointer;
            transition: 0.02s ease;
            &:hover{
              background: #0b98b1;
            }
        }
    }
}

@media (max-width:1122px) {
    .create-categorie {
        .header {
           
    
            h1 {
                font-size: 0.8rem;
                
            }
        }
    
        .create-container{
           
            .form{
                
                label{
                    font-size: 0.8rem;
                }
        
                select{
                    width: 200px;
                   
                }
        
                input{
                    
                    width: 200px;
                    
                }
            }
           
        }
    }
}