.depenselist {
    background: #f0f1f5;
    display: flex;
    flex-direction: column;

    .header-depenses {
        padding: 15px;
        background: #376369;
        border: 1px solid #45828a;
        text-align: center;

        h1 {
            font-size: 18px;
            font-family: Open sans;
            color: #fff;
            text-transform: uppercase;
        }
    }

    .list-zone {
        display: flex;
        flex-direction: column;
        margin: 20px;
        background: #fff;
        padding: 10px;

        .filtre {
            display: flex;
            justify-content: space-between;
            margin: 20px;

            .infos {
                display: flex;
                flex-direction: column;

                label {
                    font-family: roboto;
                    font-size: 14px;
                    font-weight: bold;
                }

                h3 {
                    font-family: roboto;
                    font-size: 14px;
                }

                span {
                    font-size: 14px;
                    font-family: roboto;
                    color: #376369;
                }
            }

            input {
                padding: 10px;
                width: 200px;
                border-radius: 20px;
                border: 1px solid #376369;
            }
        }

        .section-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .aucun{
                font-size: 16px;
                font-family: roboto;
                margin: 40px;
            }
            .card-depense {
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 50px;
                background-color: #f0f1f5;
                margin: 2px;
                width: 800px;
                cursor: pointer;
                .rig {
                    width: 300px;

                    h3 {
                        font-size: 14px;
                        font-family: roboto;
                        margin: 5px;
                    }

                    p {
                        font-size: 14px;
                        font-family: roboto;
                        margin: 5px;
                    }
                }

                .btn-depense {
                    .icon {
                        color: red;
                        margin-right: 20px;
                        opacity: 10%;
                    }

                    &:hover {
                        .icon {
                            opacity: 80%;
                        }

                    }
                }
            }
        }
    }
}


@media (max-width:1122px) {
    .depenselist {
        .header-depenses {
            h1 {
                font-size: 0.7rem;
            }
        }
    
        .list-zone {
            .filtre {
               flex-direction: column;
               align-items: flex-start;
                .infos {
                    label {
                        font-size: 0.8rem;
                    }
    
                    h3 {         
                        font-size: 0.7rem;
                    }
    
                }
    
                input {
                    width: 200px;
                }
            }
    
            .section-list {
              
                .aucun{
                    font-size: 0.8rem;
                }
                .card-depense {
                  width: 100%;
                  height: auto;
                    .rig {
                        width: 100%;
                        align-self: flex-start;
                        h3 {
                            font-size: 0.7rem;
                        }
    
                        p {
                            font-size: 0.8rem;      
                        }
                    }
    
                    .btn-depense {
                        .icon {
                            color: red;
                            margin-right: 20px;
                            opacity: 10%;
                        }
    
                        &:hover {
                            .icon {
                                opacity: 80%;
                            }
    
                        }
                    }
                }
            }
        }
    }
}