.fournisseurs {

    .fournisseur-head {
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        background: #fff;
        border: 1px solid #dfdfdf;
        margin: 10px;
        padding: 15px;
      

        .btn-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 40px;
            border: none;
            text-transform: uppercase;
            font-size: 0.6em;
            font-weight: 600;
            font-family: sans-serif;
            // background: teal;
            background-color: #2d1a35;
            color: #fff;

            &:hover {
                background: #1aad9a;
            }
        }
    }


    .fournisseurs-content {
        border: 1px solid #dfdfdf;
        padding: 15px;
        margin: 10px;
        background: #fff;
        border-radius: 10px;

        .title{
            p{
                font-size: 14px;
                font-family: roboto ,sans-serif;
                color: rgb(29, 29, 29);
                font-weight: 400;
            }
          
        }

    }
    .btn-del{
        font-size: 16px;
        border: none;
        color:rgb(21, 109, 150);
        background: #ffff;
        cursor: pointer;
    }

}

@media (max-width:1122px) {
    .fournisseurs {

        .fournisseur-head {

    
            .btn-add {
               font-size: 0.7rem;
    
                &:hover {
                    background: #1aad9a;
                }
            }
        }
    

        
    
    }
}