.dashboard {
   display: flex;
   flex-direction: column;
   background: #f0f1f5;
   
   .header-dashboard {
      // width: 99%;
      padding: 15px;
      margin: 10px;
      background: #fff;
      border: 1px solid #dfdfdf;
      border-radius: 10px;

      h1 {
         font-size: 1em;
         font-family: Open sans, sans-serif;
         font-weight: 600;
      }
   }

   .home-row {
      display: flex;
      margin: 5px;
      width: 100%;

   }

}
@media (max-width:1122px) {
   .dashboard{

      .header-dashboard {
         h1{
            font-size: 0.8rem;
         }
      }

      .home-row{
         width: 100%;
      }
   }

}
