.list {
    .header-list {
        padding: 15px;
        // background: #376369;
        background-color: #fff;
        // border: 1px solid #2d1a35;

        h1 {
            font-family: Open sans;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
            text-align: center;
            color: #222222;
        }
    }


    .products-content {
        border: 1px solid #dfdfdf;
        padding: 15px;
        margin: 10px;
        background: #fff;
        border-radius: 10px;

        .title {
            p {
                font-size: 14px;
                font-family: roboto, sans-serif;
                color: rgb(0, 0, 0);
                font-weight: 400;
            }

        }

        .action {
            display: flex;

            .cancel {
                display: flex;
                flex-direction: row;
                align-content: center;
                cursor: pointer;
                color: rgb(21, 109, 150);
            }
            .alert{
                font-family: roboto;
                font-size: 12px;
                color:#0b24b3
            }
        }
    }

}

@media (max-width:1122px) {
    .list {
    .header-list {
        h1 {
            font-size: 0.7rem;
        }
    }


    .products-content {
        .title {
            p {
                font-size: 0.6rem;
            }

        }

        .action {
            .alert{
                font-size: 0.6rem;
            }
        }
    }

}
}