.produits {

    .title-stock {
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        background: #fff;
        border: 1px solid #dfdfdf;
        margin: 10px;
        padding: 15px;

        .left {
            display: flex;
            justify-content: center;

            h3 {
                font-family: Roboto;
                font-size: 18px;
            }

            p {
                font-family: Open sans;
                margin-left: 20px;
            }
        }


        .btn-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 40px;
            border: none;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            font-family: sans-serif;
            // background: teal;
            background-color: #2d1a35;
            color: #fff;

            &:hover {
                background: #1aad9a;
            }
        }
    }

    .search {
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 15px;
        background: #fff;

        .search-champs {
            width: 250px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid #d1d2d3;
            padding: 15px;
            font-family: Roboto;
            font-weight: 500;
            outline: none;
        }
    }


    .products-content {
        border: 1px solid #dfdfdf;
        padding: 15px;
        margin: 10px;
        background: #fff;
        border-radius: 10px;

        .title {
            p {
                font-size: 14px;
                font-family: roboto, sans-serif;
                color: rgb(29, 29, 29);
                font-weight: 400;
            }

            .stock-fini {
                color: red;
                font-size: 12px;
                font-family: roboto;
            }
        }

        .action {
            display: flex;

            span {
                font-size: 12px;
                font-family: roboto;
                color: green;
            }

            .icon-add {
                color: #1aad9a;
                font-size: 24px;
                margin: 10px;
                cursor: pointer;
            }

            .icon-edit {
                color: rgb(102, 102, 211);
                font-size: 24px;
                margin: 10px;
                cursor: pointer;
            }

            .icon-del {
                color: rgb(245, 86, 86);
                font-size: 24px;
                margin: 10px;
                cursor: pointer;
            }

        }
    }

}

@media (max-width:1122px) {
    .produits {

        .title-stock {
            align-items: flex-start;
            flex-direction: column;
             gap: 5px;
            .left {
                align-items: center;
                h3 {
                    font-size: 0.7rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
            .btn-add{
                font-size: 0.6rem;
            }
        }

        .products-content {
            .title {
                p {
                    font-size: 0.7rem;
                }
            }

            .action {


                .icon-add {
                    font-size: 1rem;
                }

                .icon-edit {
                    font-size: 1rem;
                }

                .icon-del {

                    font-size: 1rem;

                }

            }
        }


    }
}