.sidebar{
    min-width: 250px;;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 3, 3);
    height:100%;

    
    .liens{
        display: flex;
        margin: 20px;
        text-decoration: none;
        font-family:Open sans ;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        &:hover{
            color:rgba(255, 68, 0, 0.541);
        }
        .icon{
            margin-right: 10px;
            font-size: 20px;
        }
    }

    .activliens{
        display: flex;
        margin: 20px;
        text-decoration: none;
        font-family:Open sans ;
        font-weight: 600;
        font-size: 14px;
        color: orangered;
        &:hover{
            color:#cccccc
        }
        .icon{
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .btn-logout{
        display: flex;
        margin: 20px;
        text-decoration: none;
        font-family:Open sans ;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        &:hover{
            color:rgb(21, 109, 150);
        }
        .icon{
            margin-right: 10px;
        }
    }

}


    @media (max-width: 1122px)  {
      .sidebar{
        min-width: 50px;
        height: 110vh;
        background: #111855;
        .liens span, .activliens span{
            display: none;
        }

        .btn-logout span{
            display: none;
        }
      }
    }