.coutWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    width: 400px;
    height: 100px;
    cursor: pointer;

    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    p {
        font-size: 16px;
        font-family: Roboto;
        margin: 15px;
    }

    .icon {
    margin-right: 10px;
        font-size: 30px;
        color: rgb(165, 78, 247);
    }
}

.achatsWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    width: 400px;
    height: 100px;
    cursor: pointer;

    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    p {
        font-size: 16px;
        font-family: Roboto;
        margin: 15px;
    }

    .icon {
        margin-right: 10px;
        font-size: 30px;
        color: rgb(252, 13, 13);
    }
}

.coutprodWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    width: 400px;
    height: 100px;
    cursor: pointer;

    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        font-family: Roboto;
        margin: 15px;
    }

    .icon {
        font-size: 30px;
        color: rgb(241, 8, 183);
    }
}

.ventsWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    width: 400px;
    height: 100px;
    cursor: pointer;
    
    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
       
    }

    p {
        font-size: 16px;
        font-family: Roboto;
        margin: 15px;
    }

    .icon {
        margin-right: 10px;
        font-size: 30px;
        color: rgb(252, 196, 13);
    }
}

.revenusWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    flex:1;
    height: 100px;
    cursor: pointer;

    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    p {
        font-size: 16px;
        font-family: Roboto;
        margin: 15px;
    }

    .icon {
        margin-right: 10px;
        font-size: 50px;
        color: rgb(36, 172, 24);
    }

    .r {
        display: flex;
        align-items: center;
    }
}

.depensesWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    flex: 1;
    height: 100px;
    cursor: pointer;

    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    p {
        font-size: 16px;
        font-family: Roboto;
        margin: 15px;
    }

    .icon {
        margin-right: 10px;
        font-size: 30px;
        color: rgb(103, 182, 155);
    }
}

.stats-graph-widget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #d3d3d3;
    flex: 1;
    cursor: pointer;

    h1 {
        margin: 5px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        font-family: Roboto;

    }
}

.statsWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    width: 300;
    ;
    cursor: pointer;

    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
        margin: 5px;
    }

    p {
        font-size: 16px;
        font-family: Roboto;
        margin: 15px;
    }
}

.statsWeekwidget {
    flex: 1;
    height: 275px;
    border-radius: 10px;
    background-color: #376369;
    // background-color: rgb(121, 177, 252);
    box-shadow: 1px 1px 1px 1px #c9c9c9;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px;

    h1 {
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        color: #f0f1f5;
    }

    p {
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #f0f1f5;
        font-family: Roboto, sans-serif;
    }
}

.tendanceWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #d3d3d3;
    width: 250px;
    cursor: pointer;

    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
    }

    .content {
        display: flex;
        flex-direction: column;

    }

    .tendance-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin: 10px;

        p {
            font-size: 12px;
            font-family: Roboto;
            margin-right: 10px;
        }

        span {
            color: rgb(53, 28, 194);
            font-weight: 600;
            margin: 5px;
        }
    }

    .icon {
        font-size: 30px;
        color: rgb(253, 144, 2);
    }
}

.stocksWidget {
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #d3d3d3;
    width: 250px;
    cursor: pointer;

    h1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
    }

    .icon {
        font-size: 30px;
        color: rgb(245, 0, 0);
    }

    .content {
        display: flex;
        flex-direction: column;

        .stocks-container {
            display: flex;
            flex-wrap: wrap;
            margin:10px;
            .nom {
                font-size: 14px;
                font-family: Roboto;
                margin-right: 10px;
            }

            .categorie {
                font-size: 14px;
                font-family: Roboto;
                margin-right: 10px;
                color: #009cb8;
            }

            span {
                color: red
            }
        }

    }
}

@media (max-width:768px) {
    .home-row{
        width: 100%;
        flex-direction: column;

        .coutWidget ,
        .achatsWidget ,
        .coutprodWidget,
        .ventsWidget,
        .revenusWidget,
        .depensesWidget,
        .stats-graph-widget,
        .statsWidget,
        .statsWeekwidget,
        .tendanceWidget,
        .stocksWidget {
         width: 100%;
        }
    }
}