@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  height: 91vh;
  
  .contents {
    flex: 6;
    background: #f0f2f5;
    height: calc(100vh - 80px);
    overflow-y: scroll;
  }
}

@media (max-width:1200px) {
  .body {
    display: flex;
    
  
    .contents {
      background: #f0f2f5;
      
      overflow-y: scroll;
    }
  }
}

@import './styles/home';
@import './styles/addProduits';
@import './styles/bestvente';
@import './styles/categories';
@import './styles/tableauboard';
@import './styles/depenseur';
@import './styles/listvente';
@import './styles/navbar';
@import './styles/produits';
@import './styles/rapports';
@import './styles/recus';
@import './styles/sidebar';
@import './styles/single';
@import './styles/tooltip';
@import './styles/ventes';
@import './styles/create_categorie';
@import './styles/addfournisseur';
@import './styles/fournisseurs';
@import './styles/login';
@import './styles/registre';
@import './styles/reset';
@import './styles/confirm';
@import './styles/notfound';
@import './styles/loading';
@import './styles/depenselist';