.home {
   display: flex;
   flex-direction: column;
   background: #f0f1f5;

   .header-home {
      padding: 15px;
      margin: 10px;
      background: #fff;
      border: 1px solid #dfdfdf;
      border-radius: 10px;

      h1 {
         font-size: 20px;
         font-family: Open sans, sans-serif;
         font-weight: 600;
      }
   }

   .home-container-a {
      display: flex;
      margin: 10px;

   }

   .home-container-b {
      display: flex;
      margin: 10px;

   }

   .home-container-c {
      display: flex;
      margin: 10px;
   }

   .home-container-d {
      display: flex;
      margin: 10px;
   }
}