.produits {

    .title-stock {
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        background: #fff;
        border: 1px solid #dfdfdf;
        margin: 10px;
        padding: 15px;

        .left {
            display: flex;
            justify-content: center;

            h3 {
                font-family: Roboto;
                font-size: 18px;
            }

            p {
                font-family: Open sans;
                margin-left: 20px;
            }
        }


        .btn-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 40px;
            border: none;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            font-family: sans-serif;
            background: teal;
            color: #fff;

            &:hover {
                background: #1aad9a;
            }
        }
    }

    .search {
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 15px;
        background: #fff;

        .search-champs {
            width: 250px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid #d1d2d3;
            padding: 15px;
            font-family: Roboto;
            font-weight: 500;
            outline: none;
        }
    }


    .products-content {
        border: 1px solid #dfdfdf;
        padding: 15px;
        margin: 10px;
        background: #fff;
        border-radius: 10px;

        .title{
            p{
                font-size: 14px;
                font-family: roboto ,sans-serif;
                color: rgb(29, 29, 29);
                font-weight: 400;
            }
            .stock-fini{
                color:red;
                font-size: 12px;
                font-family: roboto;
            }
        }

        .action{
            display: flex;
            .icon-add{
                color:#1aad9a;
                font-size:24px;
                margin: 10px;
                cursor: pointer;
            }

            .icon-edit{
                color:rgb(102, 102, 211);
                font-size: 24px;
                margin: 10px;
                cursor: pointer;
            }

            .icon-del{
                color:rgb(245, 86, 86);
                font-size: 24px;
                margin: 10px;
                cursor: pointer;
            }
        
        }
    }

}