.produits {
  
  .title-stock {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border:1px solid #dfdfdf;
    margin: 10px;
    padding: 15px;
    .leftp{
        display: flex;
        justify-content: center;
    }
    h3 {
      font-family: Roboto;
      font-size: 18px;
    }
    p{
        font-family: Open sans;
        margin-left: 20px;
    }

    .btn-add{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
        border: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        font-family: sans-serif;
        background:teal;
        color: #fff;
        &:hover{
            background: #1aad9a;
        }
    }
  }

  .filter-search{
    border:1px solid #dfdfdf;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    background: #fff;
    .selection{
        border: 1px solid #94abc2;
        border-radius: 10px;
        height: 50px;
        width: 200px;
        .option{
            font-family: Roboto;
            font-size: 16px;
            
        }
    }

    .search-champs{
        width: 250px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid #d1d2d3;
        padding: 15px;
        font-family: Roboto;
        font-weight: 500;
        outline: none;
    }
  }
}

.array-products{
    border:1px solid #dfdfdf;
    padding: 15px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
    
    .table-header{
        height: 40px;
        background: #94abc2;
        .colonne{
            font-size: 12px;
            font-family: Open sans;
            font-weight: 600;
            border: 2px solid #ffffff;
            width: 200px;
           height: 40px;
        }
    }

    .table-body{
        flex: 1;
        height: 50px;
        background: #f0f2f5;
        .colon{
            font-size: 14px;
            font-family: Open sans;
            font-weight: 500;
            border: 1px solid #cfd7df;
            width: 200px;
            height: 40px;
            span{
                cursor: pointer;
               
            }
        }
        .ico{
            transition: all 0.3s ease-in-out;
            &:hover{
                color: #32b611;
                transform: scale(1.1);
            }
        }
        .fini{
            font-family: Roboto,sans-serif;
            font-weight: 600;
            color:rgb(255, 63, 63)
        }
    }
    .colon-vente{
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: space-between;
        .b{
            border: none;
            background: #1aad9a;
            width: 90px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            margin: 10px;
        }
        .bv{
            border: none;
            background: #32b611;
           
            color: #fff;
            font-weight: bold;
            text-align: center;
            margin: 10px;
        }
        p{
           
            margin: 10px;
        }
    }
}

.edit{
    font-size: 20px;
    background: #46c4ff;
    color: #fff;
    margin-left:20px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: #2899ce;
        transform: scale(1.1);
    }
}

.del{
    font-size: 20px;
    background: #ff5c46;
    color: #fff;
    margin-left:20px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: #fd0909;
        transform: scale(1.1);
    }
}