.sidebar{
    min-width: 250px;;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 3, 3);
    min-height:91vh;
    .liens{
        display: flex;
        margin: 20px;
        text-decoration: none;
        font-family:Open sans ;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        &:hover{
            color:rgb(21, 109, 150);
        }
        .icon{
            margin-right: 10px;
        }
    }

    .activliens{
        display: flex;
        margin: 20px;
        text-decoration: none;
        font-family:Open sans ;
        font-weight: 600;
        font-size: 16px;
        color: rgb(21, 109, 150);
        &:hover{
            color:#cccccc
        }
        .icon{
            margin-right: 10px;
        }
    }
}